body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #b3cde0;
}

.App {
  padding: 2rem 6rem;
  background-color: #6497b1;
  color: white;
  text-shadow: 2px 2px #b3cde0;
  border-radius: 2rem;
}

.flashcard-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px #b3cde0;
}

.flashcard {
  width: 40rem;
  height: 20rem;
  border-radius: 1rem;
}

.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 20rem;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 1rem;
  color: black;
  text-shadow: none;
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(180deg);
}

.back p {
  transform: rotateX(180deg);
}

.flashcard.flipped .front {
  transform: rotateX(180deg);
}

.flashcard.flipped .back {
  transform: rotateX(0deg);
}

label {
  margin: 10px;
}

form {
  margin-top: 10px;
}

input {
  border-radius: 5px;
}

button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #005b96;
  color: white;
  border-color: white;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}

#correct {
  background-color: #77dd77;
  border-color: #77dd77;
}

#wrong {
  border-color: #faa0a0;
  background-color: #faa0a0;
}

#submit-guess {
  border-radius: 5px;
  background-color: white;
  color: #005b96;
}
